.aboutContent {
    display: flex;
    gap: 40px;
    align-items: center;
}

.aboutText {
    flex: 1;
}

.aboutImage {
    flex: 1;
}

.aboutImage img {
    max-width: 100%;
    border-radius: 10px;
}

@media (max-width: 768px) {
    .aboutContent {
        flex-direction: column;
    }
}

@media (max-width: 768px) {
    .aboutContent {
        flex-direction: column;
    }

    .aboutImage img {
        width: 100%;
    }
}